certifi
cffi
cryptography
decorator
future
pycparser
PySocks
six
tornado
emoji
numpy
pandas
sklearn
chardet
click
Flask
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
requests
urllib3
Werkzeug
WTForms
dnspython
flask_login
flask_sqlalchemy
libuv
ninja
flask-migrate
nltk
tensorflow
