<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Логин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Выход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend/recommend">Рекомендация для кухни</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend/recommend_by_type">Рекомендация по типу</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stat/new_recipe">Создание рецепта</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stat/search_cuisine">Поиск</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend/calculate">Перерасчет модели</a>
      </li>
    </ul>
  </div>
</nav>
