{% extends "bootstrap.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="alert alert-warning" role="alert">
					{% for message in messages %}
						{{ message }}<br>
					{% endfor %}
				</div>
				{% endif %}
			{% endwith %}
            <form action="{{ url_for('recommend.process_recommend')}}" method="POST">
                {{ title }}<br>
                <select class="form-select form-select-lg mb-3" aria-label="select-lg example" name="cuisine">
                  <option selected>русская</option>
                  <option value="азиатская">азиатская</option>
                  <option value="европейская">европейская</option>
                  <option value="мексиканская">мексиканская</option>
                  <option value="африканская">африканская</option>
                </select>
                <center>
                <input type="submit" value="OK" name="action_" class="btn btn-primary" />
                </center>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}
